$white: #ffffff;
$black: #000000;
$lightblue: #e5eff3;
$blue: #bbd8e5;
$darkblue: #00608D;
$lightgreen: #e5f3e5;
$lightred: #f3e5e5;
$darkgray: #222222;
$darkred: #A30000;
$lightpink: #F5EBEB;

@mixin gradient($bottom-color: #fcfcfc, $top-color: #ededed){
  background-color: #fcfcfc;
  background-image: -moz-linear-gradient(top, #{$top-color}, #{$bottom-color}); /* FF3.6 */
  background-image: -ms-linear-gradient(top, #{$top-color}, #{$bottom-color});  /* IE10 */
  background-image: -o-linear-gradient(top, #{$top-color}, #{$bottom-color});  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#{$top-color}), to(#{$bottom-color}));  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #{$top-color}, #{$bottom-color});  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #{$top-color}, #{$bottom-color});
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$top-color}', EndColorStr='#{$bottom-color}');  /* IE6–IE9 */
}

@mixin shadow($h: 5px, $v: 5px, $blur: 5px, $color: #ccc){
  -moz-box-shadow: $h $v $blur $color;
  -webkit-box-shadow: $h $v $blur $color;
  box-shadow: $h $v $blur $color;
}

@mixin round($radius: 10px){
  -moz-border-radius: #{$radius};
  -webkit-border-radius: #{$radius};
  border-radius: #{$radius}; /* future proofing */
  -khtml-border-radius: #{$radius}; /* for old Konqueror browsers */
  behavior: url(/stylesheets/PIE.htc);  
  position: relative;
}

@mixin transparent($amt){
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$amt})";
  filter: alpha(opacity=#{$amt});
  -moz-opacity:#{$amt/100};
  -khtml-opacity: #{$amt/100};
  opacity: #{$amt/100};
}

@mixin inset-shadow($hoffset: 1px, $voffset: 1px, $blur: 3px, $color: #cccccc){
  -moz-box-shadow:inset $hoffset $voffset $blur $color;
  -webkit-box-shadow:inset $hoffset $voffset $blur $color;
  box-shadow:inset $hoffset $voffset $blur $color;
}

.round{
  @include round;
}

.shadow{
  @include shadow;
}

.box{
  padding: 10px;
  border: 1px solid #ddd;
  @include round;
  @include shadow(1px, 1px, 2px);
}
